services:
  ptacik-db:
    image: postgres:16
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - ptacik-net 



  ptacik-bot:
    build:
      context: ./ptacik-bot/
      dockerfile: Dockerfile
    container_name: ptacik-bot
    restart: unless-stopped
    env_file:
      - .env
    tty: true
    stdin_open: true
    networks:
      - ptacik-net 



  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - ptacik-net

volumes:
  db_data:

networks:
  ptacik-net:
    driver: bridge