name: Ruff Auto Fix
on: [push]

permissions:
  contents: write

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Ruff lint
        uses: astral-sh/ruff-action@v3
        with:
          args: check

      - name: Check Ruff formatting
        uses: astral-sh/ruff-action@v3
        with:
          args: format --check
